[submodule "scene-graph-TF-release"]
	path = scene-graph-TF-release
	url = https://github.com/huawei-tomas/scene-graph-TF-release
[submodule "Detectron"]
	path = Detectron
	url = https://github.com/facebookresearch/Detectron
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch
[submodule "eigen-git-mirror"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow
